{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam laudantium aperiam natus fugiat explicabo autem nostrum tempore veritatis ipsum animi dolorum, suscipit odio porro, molestias nemo dolores architecto officia repudiandae.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/01.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
{{> footer}}